/************************ EDITOR RULES *************************/
.editor {
    flex: 1 1 auto;
    display: grid;
    width: 100%;
    overflow: auto;
    grid-template-columns: auto 1fr;
    padding-top: 15px;
    border-radius: 10px;
}

.editor::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.editor::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.editor::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

/********************* EDITOR CONTENT RULES *********************/
.editor-content {
    position: relative;
    padding-left: 5px;
}

