@font-face {
    font-family: 'DashJetMono';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

* {
    font-family: 'DashJetMono', Courier, monospace;
    /** --main-color: rgb(46, 139, 87);
    --main-color-code: 46, 139, 87; */
    /** --main-color: blueviolet; */
    /** --main-color: slateblue; */
    /** --main-color: rgb(220, 20, 60); */
    /** --main-color-code: 220, 20, 60; */
    --main-color-code-darker: 41, 65, 139;
    --main-color-code: 65, 105, 225;
    --main-color-darker: rgb(41, 65, 139);
    --main-color: royalblue;
    --bg-color: white;
    --text-over-bg-color: darkslategray;
    /*--bg-color: rgb(61, 69, 88);
    --text-over-bg-color: white;*/
    /** --bg-color: white; */
}

.hljs-keyword {
    color: rgb(241, 122, 10);
    font-style: italic;
    font-weight: 600;
}

.hljs-variable {
    color: rgb(255, 145, 0);
    background-color: rgba(250, 183, 0, 0.192);
}

.hljs-title {
    color: rgb(144, 165, 230);
    font-weight: 900;
}

.hljs-string {
    color: rgb(75, 165, 75);
}

.hljs-property {
    font-style: italic;
    color: crimson;
}

.hljs-number {
    color: rgb(255, 81, 0)
}

.hljs-comma {
    color: rgb(255, 145, 0);
}

.hljs-subst {
    color: lightcoral;
}

.hljs-built_in {
    font-style: italic;
    color: rgb(241, 122, 10);
}

.hljs-comment {
    color: rgb(150, 150, 150);
}

.hljs-attr {
    color: slateblue;
    text-decoration: underline;
}

.hljs-tag>.hljs-name {
    color: crimson;
}

.hljs-params {
    font-style: italic;
}

.panel-header {
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: solid 1px var(--main-color);
}

.panel-actions {
    display: flex;
    color: var(--main-color);
    border-left: solid 1px var(--main-color);
    background-color: white;
}

.close-panel {
    padding: 5px;
    margin: auto;
}

.panel-action {
    display: flex;
    height: 100%;
    width: 40px;
}

.panel-action:hover {
    color: white;
    background-color: var(--main-color);
}

.split-panel {
    padding: 5px;
    margin: auto;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    line-height: 19px;
    background-color: var(--bg-color);
}

.taskbar-item {
    padding-left: 5px;
    padding-right: 5px;
}

.taskbar-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.filetype {
    margin-left: 15px;
}

.footer>div:first-child {
    margin-left: 5px;
}

.footer>div:last-child {
    margin-right: 5px;
}

.footer>div {
    margin-top: auto;
    margin-bottom: auto;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.tree-view {
    background-color: var(--bg-color);
    border-right: solid 1px var(--main-color);
}

.editor-view {
    /** background-color: white;*/
    overflow: hidden;
    border-left: solid 1px var(--main-color);
}

.tree-view-item {
    width: 50%;
}

.t-align-center {
    text-align: center;
}

.view-title {
    color: var(--main-color);
    border-bottom: solid 3px var(--main-color);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-size: 1em;
    font-family: 'DashJetMono', Courier, monospace;
}

.editor {
    flex: 1 1 auto;
    display: grid;
    width: 100%;
    overflow: auto;
    grid-template-columns: auto 1fr;
    padding-top: 15px;
    border-radius: 10px;
}

.editors-container {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    padding: 5px;
}

.editors-titles {
    display: flex;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
    overflow: hidden;
}

.add-editor {
    color: var(--main-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
    font-family: 'DashJetMono', Courier, monospace;
}

.editor-title {
    width: fit-content;
    border-bottom: solid 3px var(--main-color);
    background-color: transparent;
    color: var(--main-color);
}

.titles-scrollbar {
    position: absolute;
    display: none;
    left: 10px;
    bottom: -7px;
    width: calc(100% - 20px);
    height: 5px;
    background-color: darkgrey;
}

.titles-scrollbar-cursor {
    position: absolute;
    left: 0px;
    top: 0;
    height: 5px;
    width: 50px;
    background-color: var(--main-color);
}

.editor-title:not(:first-child) {
    margin-left: 5px;
}

.editor-title.active {
    color: var(--main-color-darker);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: var(--main-color-darker);
}

.editor-title:hover {
    background-color: var(--main-color);
    cursor: pointer;
    color: white;
}

.close-element {
    transition: 0.15s;
    border-radius: 5px;
    margin-left: 10px;
    padding: 2px;
    font-family: 'DashJetMono', Courier, monospace;
}

.state-element {
    /** Changer la font en transparent pour faire disparaitre l'icone */
    margin-left: 10px;
    color: transparent;
}

#home-view {
    display: none;
    background-color: white;

}

#home-view>div {
    color: var(--main-color);
    text-align: center;
    line-height: 80px;
    font-size: 45px;
}

#home-view>div>button {
    /* display: none; */
    font-size: 45px;
    color: var(--text-over-bg-color);
}

.close-element:hover {
    box-shadow: 0 0 2em white;
}

.editor-view {
    display: grid;
    grid-template-rows: auto 1fr;
    width: 100%;
    height: 100%;
}

.editor-title>.title {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
    font-family: 'DashJetMono', Courier, monospace;
}

.editor-title.active>.title>.filename {
    font-style: italic;
    text-decoration: underline;
}

.editor-content {
    position: relative;
    padding-left: 5px;
}

.color-white {
    color: white;
}

.code-container {
    color: var(--text-over-bg-color);
    font-family: 'DashJetMono', Courier, monospace;
    font-size: 15px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    line-height: 19px;
}

#theme-mode:hover {
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    height: calc(97% - 30px);
    overflow: hidden;
    justify-content: center;
    /** background: white; */
}

.title-bar {
    display: grid;
    color: white;
    grid-template-columns: 1fr auto;
    width: 100%;
    height: 30px;
    background-color: var(--main-color);
    user-select: none;
    /* border: solid 2px blueviolet; */
}

.head {
    height: 30px;
    -webkit-app-region: drag;
}

.head-title {
    height: 18px;
    margin-top: 7px;
    padding-left: 10px;
}

.window-icons {
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: row;
}

.window-icon {
    width: 50px;
    height: 100%;
    position: relative;
    transition-duration: .3s;
}

.window-icon:hover {
    cursor: pointer;
}

.window-icon:hover {
    background-color: white;
    color: var(--main-color);
}

.window-icon>i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

::placeholder {
    color: var(--main-color);
}

#make-directory {
    font-size: 24px;
    padding: 10px;
}

#make-directory:hover {
    background-color: var(--main-color);
    color: white;
}

#create-file {
    font-size: 24px;
    padding: 10px;
}

#create-file:hover {
    background-color: var(--main-color);
    color: white;
}

#minimize-window:hover,
#maximize-window:hover {
    background-color: rgba(245, 245, 245, 0.3);
}

#close-window-icon:hover {
    background-color: red;
    color: white;
}

#modals-container {
    position: absolute;
    display: none;
    left: 0;
    top: 30px;
    width: 100vw;
    height: calc(97% - 30px);
    /** transform: translate(-50%, -50%); */
    background-color: rgba(120, 120, 120, 0.3);
    z-index: 3;
}

#branch-name {
    text-decoration: underline;
    font-style: italic;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3%;
    background-color: var(--main-color);
    user-select: none;
}

.file-content,
.file-content:focus {
    color: transparent;
    background-color: transparent;
    overflow: hidden;
    font-family: 'DashJetMono', Courier, monospace;
    font-size: 15px;
    width: calc(100% - 5px);
    height: 100%;
    border: 0px;
    position: absolute;
    left: 5px;
    top: 0px;
    z-index: 2;
    box-shadow: 0;
    outline: none;
    resize: none;
    padding: 0px;
    line-height: 19px;
    caret-color: var(--main-color);
}

.file-content::selection {
    color: transparent;
    background: rgba(var(--main-color-code), 0.4);
}

.editor::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.editor::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.editor::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

.modal {
    position: absolute;
    display: none;
    grid-template-rows: auto 1fr;
    /**width: 50vh;
    height: 50vh;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /** background-color: ghostwhite; */
    background-color: var(--bg-color);
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
    box-shadow: rgba(168, 168, 168, 0.753) 0px 8px 24px;
    padding: 15px;
    border-bottom: solid 3px var(--main-color);
    border-radius: 15px;
    z-index: 4;
}

.file-icon {
    color: var(--main-color);
}

#tree-modal {
    position: absolute;
    width: 50vh;
    height: 50vh;
    display: none;
    z-index: 3;
}

#tree-modal>.modal-body {
    grid-template-rows: auto 1fr;
}

#tree-search-file {
    padding: 5px;
    transition: 0.150s;
    width: calc(100% - 14px);
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: solid 1px var(--main-color);
    border-left: solid 2px var(--main-color);
    border-radius: 5px;
}

input:focus {
    outline: none;
}

#quick-file-search-modal {
    width: 40vw;
    top: 2%;
    transform: translate(-50%, 0%);
}

#quick-file-search-modal>.modal-header {
    color: var(--main-color);
    margin-left: 0;
    margin-right: unset;
    padding-top: 5px;
    padding-bottom: 5px;
}

#quick-file-search-modal.modal-body {
    grid-template-rows: auto auto;
}

#quick-search-file-results {
    max-height: 30vh;
    overflow: auto;
}

#search-file {
    display: grid;
    color: var(--main-color);
    grid-template-columns: 1fr auto auto;
    column-gap: 10px;
}

.vertical-align {
    margin-top: auto;
    margin-bottom: auto;
}

#quick-search-file-results::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

#quick-search-file-results::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#quick-search-file-results::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

.quick-file-search-item {
    color: var(--main-color);
    font-size: 14px;
    opacity: 1;
    padding: 5px;
}

.quick-search-file-path {
    font-size: 12px;
}

.quick-file-search-item.active {
    background-color: rgb(169, 190, 250);
}

.quick-file-search-item:hover {
    cursor: pointer;
    opacity: 0.7;
}

.quick-search-file-name {
    margin-left: 5px;
}

#quick-search-file-input {
    width: calc(100% - 12px);
    border: solid 1px var(--main-color);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
    max-height: 50vh;
}

.directory-header:hover,
.directory-item:hover {
    cursor: pointer;
    opacity: 0.5;
}

input {
    color: var(--main-color);
}

.directory,
.directory-item {
    color: var(--main-color);
}

.directory-content {
    margin-left: 1em;
}

.modal-body {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.project-tree-actions {
    color: var(--main-color);
    font-size: 20px;
}

#project-tree::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

#project-tree::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#project-tree::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

#project-tree {
    padding: 5px;
    overflow: auto;
    user-select: none;
}

.directory {
    width: calc(100% - 2px);
}

.directory-header:hover {
    cursor: pointer;
}

.modal-header {
    color: var(--main-color);
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

#open-project {
    width: auto;
    height: auto;
}

#open-project-body {
    display: flex;
}

#open-project-modal {
    display: none;
}

.btn {
    border-radius: 0px;
    background-color: var(--main-color);
    border: none;
    color: white;
    padding: 15px;
}

.btn:hover {
    transition-property: opacity;
    transition-duration: 0.150s;
    opacity: 0.8;
}